.profile{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(220, 217, 247, 0.7);
}

.profile .profile-header{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'cursive';
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 85%;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile .profile-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.profile-content h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'cursive';
}

.profile-content h3 button{
    outline: none;
    border: none;
    background: fixed;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'cursive';
}

.profile-content h3 button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.profile .buttons{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons .button{
    height: 10%;
    width: 100%;
    background-color: rgba(110, 34, 224, 0.7);
    border: 1px solid rgb(110, 34, 224);
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1rem;
}