.verifying {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 100%;
    width: 100%;
    padding: 4px 12px;
  }
  
.verify {
    background-color: #a0dfca;
    border-left: 6px solid #2ca58f;
    padding: 5px 4px;
    font-size: larger;
  }

  .verifying button{
    background-color: #2ca58f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 8%;
    height: 45px;
    margin-left: 10px;  
    margin-top: 20px;
  }
  