.heading
{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.flightsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    font-size: 0.8rem;
    padding-left: 5%;
    padding-right: 5%;
}
table 
{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
th
{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
tr td
{
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
}
.loading {
    height: 100%;
    background-image: url("../../public/3qDI.gif") !important;
    background-blend-mode: lighten;
    position: absolute;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.loading h1 {
    margin-top: 20%;
}

.flights{
    backdrop-filter: blur(5px);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.flights-header{
    margin-left: auto;
    margin-right: auto;
    font-family: 'cursive';
    font-size: 1.75rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flights .details{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
    width: 90%;
    margin-left: 3%;
}

.details h3{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'cursive';
    padding-left: 3%;
    padding-right: 3%;
}
