.place-modify {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(220, 217, 247, 0.7);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    gap: 2%;
}

.place-modify-form{
    width: 90%;
}

.way{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-left: 0%;
    margin-bottom: 1%;
}

.agemod{
    display: flex;
    width:100%;
    flex-direction: row;
    gap: 4%;
    margin-bottom: 1%;
}

.place{
    border-radius: 5px;
}

.place fieldset{
    height: 80%;
}

.choose-timemod{
    display: flex;
    flex-direction: row;
    gap: 35%;
}

.modify{
    margin-top: 1%;
    margin-left: 80%;
}

.modify .modify-button{
    height: 40px;
    width: 100%;
    background-color: #162938;
    color: #fff;
    font-size: 1rem;
    border-radius: 6px;
    outline: none;
}

