.home-body{
    justify-content: center;
    gap: 1rem;
    list-style: none;
    display: flex;

}

.textbox {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background:fixed;
}

.place{
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.time{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}
.date{
    max-height: fit-content;
}
