.home-body{
    justify-content: center;
    gap: 1rem;
    list-style: none;
    display: flex;

}

.textbox {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background:fixed;
}

