body{
    background-image: url("./Template/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
    background-size: cover;
    height: 100%;
    top: 20%;
}
body {
    background-color: rgb(217, 202, 237);
}